@import "./global-variables";



.App {
  display: flex;
  width: 100%;
  // background: rgb(36, 36, 36);
  // background: white; // white-bg
  background: rgb(250, 250, 250); // white-bg

  // .sidebar {

  //   @include tablet {
  //     display: none;
  //   }
  // }
  
  .AppContainer {
    flex: 4.3;
    
    @include tablet {
      flex: none;
      width: 100%;
    }
    // @include mobile {
    //   flex: 1;
    // }

    .main {
      padding: 6px 20px;

      @include tablet {
        padding: 10px;
      }
    }


    
  }

  a {
    text-decoration: none;
  }


  &.dark {
    background-color: black;
  }

}