@import "../../styles/_global-variables.scss";

.card {
    background: white;
    padding: 10px;
    // width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 10px #eee;
    
    @include tablet {
        padding: 5px;
    }


    .cardTitle {
        display: flex;
        border-bottom: 1px solid #f1f1f1;
        padding: 10px 5px;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            
        }
        
        .cardTitleLive {
            background-color: rgba($color: red, $alpha: 0.2);
            font-size: 13px;
            display: flex;
            color: red;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: 600;
            align-items: center;
            
            @include tablet {
                font-size: 11px;
            }
            
            .icon {
                font-size: 13px;
                color: red;
                animation: pulse 1s infinite;
                transition: .3s;
            }
            @keyframes pulse {
                0% {
                    transform: scale(1);
                }
                70% {
                    transform: scale(.7);
                }
                    100% {
                    transform: scale(1);
                }
            }
        }
        
        .cardTitleText {
            font-weight: 600;

            @include tablet {
                font-size: 14px;
            }
        }
        
        .cardTitleIcons {
            display: flex;
            gap: 10px;
            // padding: 5px 10px;
            
            .icon {
                font-size: 22px;
                color: rgba($color: gray, $alpha: 0.5);
                transition: 0.5s;
                
                @include tablet {
                    font-size: 18px;
                }
            }

        }
    }

    .cardBody {
        display: grid;
        padding: 14px 10px;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        // justify-content: space-around;
        padding: 0 3px;



        .team {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            font-weight: 600;

            @include tablet {
                font-size: 15px;
                padding: 2px;
            }

            .teamLogo {
                width: 100px;
                display: grid;
                place-items: center;
                height: 100px;
                border: 10px solid #f8f7f7;
                border-radius: 50%;

                @include tablet {
                    width: 70px;
                    height: 70px;
                }
            }
        }

        .matchStats {
            // width: 100px;
            display: grid;
            place-items: center;
            padding: 10px;
            // height: 150px;
            gap: 15px;
            
            h1 {
                font-weight: 600;
                color: rgb(104, 104, 104);

                @include tablet {
                    font-size: 30px;
                }
            }

            .matchInfo {
                font-size: 12px;
                font-weight: 600;
                color: rgba($color: gray, $alpha: 0.5);

                span {
                    color: gray;
                    font-weight: bold;
                }

                &.timer {
                    color: #550065;
                }

            }
            
            .oddsButtons {
                display: flex;
                justify-content: space-between;
                gap: 20px;

                button {
                    outline: none;
                    border: none;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: 600;
                    background-color: rgba($color: gray, $alpha: 0.2);
                    color: gray;
                    border-radius: 5px;
                    padding: 5px 7px;
                }
            }
        }
    }

    .cardActions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: -25px;

        button {
            outline: none;
            border: none;
            font-size: 14px;
            font-weight: 600;
            background-color: #550065;
            // background-color: rgb(85, 0, 101);
            color: white;
            border-radius: 5px;
            cursor: pointer;
            padding: 8px 41px;
            box-shadow: 0 0 5px #eee;

            &:hover {
                background-color: goldenrod;
            }

        }

        @include tablet {
            margin-bottom: 10px;
        }
    }
}
