@import "../../styles/global-variables";

.navbar {
    height: 60px;
    // box-shadow: 0 0 5px #eee;
    background: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;

    .wrapper {
        display: flex;
        width: 100%;
        // border: 1px solid #000;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        .wrapperGreeting {

            .icon {
                display: none;
                color: rgb(8, 8, 8);
                
                @include tablet {
                    display: block;
                }
            }


            h3 {
                text-shadow: 5px 0 10px rgba(rgb(240, 240, 240), 0.7);
                // color: #000;

                @include tablet {
                    display: none;
                }
            }
        }

        
        
        .personal {
            display: flex;
            gap: 15px;
            
            .search {
                display: flex;
                border: 1px solid #f1f1f1;
                border-radius: 5px;
                align-items: center;
                padding: 5px 10px;
                
                input {
                    border: none;
                    height: 25px;
                    outline: none;
    
                    @include tablet {
                        display: none;
                    }
                }
    
                @include tablet {
                    border: none;
                }
                
            }



            .profile {
                display: flex;
                gap: 15px;

                .iconSpan {
                    display: grid;
                    place-items: center;
                    position: relative;

                    .icon {
                        color: rgba($color: gray, $alpha: 0.5);
                    }
                    
                    sup {
                        position: absolute;
                        right: 0;
                        top: 7px;

                        .icon {
                            color: red;
                            font-size: 10px;
                        }
                    }
                }

                .imgBox {
                    cursor: pointer;
                    .img {
                        border-radius: 5px;
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                    }
                }

                .dets {
                    cursor: pointer;
                    @include tablet {
                        display: none;
                    }

                    h4 {
                        font-size: 14px;
                    }
                }
            }

            .profileCard {
                position: absolute;
                top: 60px;
                right: 0;
                width: 250px;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 3px 3px 17px #ccc;
                background: white;
                transition: 0.2s;
            }
        }
    }
}