@import "../../styles/global-variables";

.navbar {
    height: 60px;
    // box-shadow: 0 0 5px #eee;
    background: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;

    .wrapper {
        display: flex;
        width: 100%;
        // border: 1px solid #000;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        .wrapperGreeting {
            h3 {
                text-shadow: 5px 0 10px rgba(rgb(240, 240, 240), 0.7);
                // color: #000;

            }
        }

        .search {
            display: flex;
            border: 1px solid #f1f1f1;
            border-radius: 5px;
            align-items: center;
            padding: 5px 10px;
            
            input {
                border: none;
                height: 25px;
                outline: none;
            }
            
        }

        .tabs {
            display: flex;
            gap: 20px;
            font-size: 18px;
            font-weight: 600;
            color: rgb(209, 208, 208);
            align-items: center;

            .tab {
                // padding: 5px 20px;
                // border: 1px solid #000;
                width: 110px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                gap: 5px;
                transition: 700ms;

                small {
                    font-weight: 600;
                    font-size: 12px;
                    color: rgb(138, 138, 138);
                    font-family: Arial, Helvetica, sans-serif;
                }

                hr {
                    width: 100%;
                    background-color: #8a1538;
                    height: 4px;
                    border-radius: 6px;
                    display: none;
                    transition: display 700ms linear;

                }
                
                &:hover {
                    hr {
                        display: block;
                    }

                    
                }

            }
        }

        .personal {
            .profile {
                display: flex;
                gap: 15px;

                .iconSpan {
                    display: grid;
                    place-items: center;
                    .icon {
                        color: rgba($color: gray, $alpha: 0.5);
                    }
                }

                .imgBox {
                    .img {
                        border-radius: 5px;
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                    }
                }

                .dets {
                    h4 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}